body {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-weight: 900;
}

h2, h3 {
  font-weight: bold;
  color: #222831;
}


hr {
  width: 10%;
  border-top: 2px;
  border-style: solid;
}

.section-spacing {
  margin: 2rem auto;
}

/* Navbar */

.navbar-custom {
  background-color: #27496d !important;
}

.brand-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  padding-left: 20px;
}

.navbar-custom .nav-link {
  font-size: 1.5rem;
}

/* Intro Section */
.intro-container {
  text-align: center;
  margin:auto;
  background-image: url("../images/dallas-wallpaper.jpg");
  background-position: center;
}

.profile-pic {
  width: 75%;
  border-radius: 100%;
}

.profile-text {
  background-color: #112d4e;
}

.profile-p {
  font-size: 1.5rem;
}

.intro-spacing, #card-h1, h1 {
  margin: 5% 0;
}

/* - Info Card */
.info-card {
  color: #eaeaea;
  font-weight: bold;
  background-image: url(../images/texas-star.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #112d4e;
}

.info-card .card-title, .pg-name {
  color: #eaeaea;
}

.card-subtitle {
  font-size: 1.2rem;
}

#card-title, #card-subtitle, #card-p-bottom {
  margin-bottom: 2rem;
}

.card-p {
  font-size: 1.3rem;
}

.card-hr {
  width: 100%;

}

/* Background */

.card-bg {
  background-color: #112d4e;
}

.education-list, .awards-list, .organizations-list {
  filter: invert(1);
  text-align: left;
}

.education-list {
  list-style-image: url("../images/education.png");
}

.awards-list {
  list-style-image: url("../images/award.png")
}

.organizations-list {
  list-style-image: url("../images/organizations.png");
}

/* Contact Btn */

.contact-container {
  text-align: center;
}

.btn-success {
  background-color: #06623b;
}

.white-text {
  color: #fff;
}

/* Military Container */

  .military-container {

  }

  .text-center {
    text-align: center;
  }

.title-spacing {
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.top-spacing {
  padding-top: 2rem;
}

.bottom-spacing {
  margin-bottom: 2rem;
}

.army-carousel-icon {
  font-size: 7rem;
  margin: 20px auto 100px auto;
}

.army-link {

}

.cta-text {
  font-size: 1.4rem;
}

/* Criminal Container */

.crim-law-home-header {
  max-width: 100%;
}

.criminal-hr {
  width: 50%;
}

/* Links Container */

.links-container {
  margin-bottom: 0;
}

.links-hr {
  width: 75%;
  margin: 3rem auto;
}

/* Headers */

.header {
  display: inline-block;
}

.background-header {
  background-image: url(https://coverfiles.alphacoders.com/486/48688.jpg);
}

.criminal-header {
  background-image: url("../images/crim-law-header.JPG");
  background-position: center;
}

.military-header {
  background-image: url("../images/military-header.png");
  background-position: center;
}

.faqs-header {
  background-image: url(https://www.thearmorylife.com/wp-content/uploads/2020/03/hero-the-2nd-amendment-a-natural-right.jpg);
  background-position: center;
}

.contact-header {
  background-image: url(https://images.squarespace-cdn.com/content/v1/5965125e72af6598628ba893/1499899749549-CWESAHSZXYD9QRJLPIBH/ke17ZwdGBToddI8pDm48kFmfxoboNKufWj-55Bgmc-J7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iXS6XmVv7bUJ418E8Yoc1hjuviiiZmrL38w1ymUdqq4JaGeFUxjM-HeS7Oc-SSFcg/image-asset.jpeg?format=2500w);
  background-position: 75% 65%;
}

.pg-name {
  padding-top: 15rem;
  font-size: 3rem;
  margin-left: 2%;
}

.highlight {
  background-color: #112d4e;
}

/* Color Code Sections */

.dark-bg, .blue-bg, .dark-bg-link, .dark-bg-link:hover {
  color: #eaeaea;
}

.dark-bg-link, .dark-bg-link:hover, .link {
  text-decoration: underline;
}

.dark-bg {
  background-color: #393e46;
}

.blue-bg {
  background-color: #112d4e;
}

.light-text {
  color: #222831;
}

.blue-text, .link, .link:hover, .topic-hr {
  color: #112d4e;
}

/* Cases We Handle */

.cases-container {
  padding: 4rem 0;
}

.cases-table {
  text-align: center;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  color: #fff;
  table-layout: fixed;
  width: 75%;
}

.cases-td {
  width: 50%;
  padding: 3% 2%;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}

.cases-td:hover {
  background-color: #112d4e;
}

.cases-img {
  filter: invert(1);
  padding-bottom: 15px;
}

/* Background Container */
.background-container {
  margin: 3rem auto;
}

.background-profile-pic {
  display: inline-block;
  padding: auto;
  width: 100%;
}

.background-text {
  font-size: 1.5rem;
  margin-right: 8rem;
}

.background-hr {
  color: #112d4e;
  margin: 2rem auto;
}

.background-h2 {
  color: #112d4e;
  margin: 3rem auto;
}

.background-icon {
  margin-bottom: 2rem;
}

/* Criminal Defense */

.topics-menu {
  margin: 2rem 5%;
  width: 100%;
}

.topics-td {
  background-color: #27496d;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

.topics-td:hover {
  background-color: #eaeaea;
  color: #27496d;
}

.topics-text-container {
  padding: 0 5%;
}

.topic-title {
  margin: 2rem auto;
  color: #27496d;
  text-align: center;
  font-size: 3rem;
}

.topic-text {
  font-size: 1.5rem;
}

.topic-hr {
  width: 50%;
  margin-bottom: 2rem;
}

/* Contact */

.contact-container {
  text-align: center;
}

.contact-pic {
  width: 30%;
  border-radius: 100%;
  margin-top: 2rem;
}

/* Footer */
.footer-container, .footer-link, .footer-link-p {
  text-align: center;
  background-color: #79bac1;
  font-weight: bold;
  color: #222831;
}

.footer-icon {
  padding: 4% 3% 5rem 3%;
}

.footer-p, .footer-link-p {
  font-size: 1.2rem;
}

.footer-link:hover {
  color: #fff;
  text-decoration: none;
}

.footer-link-p:hover {
  color: #fff;
  text-decoration: none;
}

.copyright {
  margin: 5rem 0 0 0;
  font-size: 14px;
}

/* Media Queries */
@media (max-width: 500px) {

  body {
    font-size: 16px;
  }

  /* Navbar */
  .brand-text {
    padding-left: 0;
    font-size: 1.68rem;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  /* Intro Section */
  .profile-pic {
    width: 75%;
  }

  .intro-container {
    background-position: 40% 0;
  }

  /* Background Container */
  .background-container {
    text-align: center;
  }

  .background-text {
    margin: auto;
  }

  /* Cases We Handle */

  .cases-h2 {
    font-size: 1rem;
  }

}
